$spacing-lv1: 4px;
$spacing-lv2: 8px;
$spacing-lv3: 12px;
$spacing-lv4: 20px;
$spacing-lv5: 32px;
$spacing-lv6: 52px;
$spacing-lv7: 84px;
$spacing-lv8: 136px;

$font-size-basic: 16px;
$font-size-large: 32px;

$font-color-basic: #444;
